@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* create a separate footer in each view, so we can shift it wherever we want *@
<footer class="border-top footer text-muted bg-black">
	<div class="container text-light">

		&copy; 2025 - CyberSecurityThreatDetector - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

	</div>
</footer>
